[gcode_macro Homing-Macro]

# Variables for Sensorless Homing (X and Y)
variable_sgthrs_value: 100
variable_current_sensorless: 0.8
variable_retract_after_homing: 10

# Variables for Z Homing
variable_x_position_z_homing: 0
variable_y_position_z_homing: 0
variable_retract_after_homing_z: 5

# Variables for Nozzle Homing (X and Y with probe)
variable_x_position_nozzle_homing: 3
variable_y_position_nozzle_homing: 0
variable_z_position_nozzle_homing: 0
variable_x_endstop_position: -50
variable_y_endstop_position: -50

gcode:
    # Sensorless Homing X and Y
    M117 Sensorless Homing X and Y!
    
    # Home X Sensorless
    SET_TMC_FIELD STEPPER=stepper_x FIELD=SGTHRS VALUE={sgthrs_value}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={current_sensorless}
    G28 X
    
    # Retract X
    G91
    G1 X-{retract_after_homing} F1200
    G90
    
    # Home Y Sensorless
    SET_TMC_FIELD STEPPER=stepper_y FIELD=SGTHRS VALUE={sgthrs_value}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={current_sensorless}
    G28 Y
    
    # Retract Y
    G91
    G1 Y-{retract_after_homing} F1200
    G90
    
    # Reset Stepper Current to configured values
    {% set run_current_x = printer.configfile.settings['tmc2208 stepper_x'].run_current|float %}
    {% set run_current_y = printer.configfile.settings['tmc2208 stepper_y'].run_current|float %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={run_current_x}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={run_current_y}
    
    # Home Z using Probe
    M117 Homing Z!
    G0 X{x_position_z_homing} Y{y_position_z_homing}
    G28 Z
    
    # Retract Z
    G91
    G1 Z+{retract_after_homing_z} F1200
    G90
    
    # Home X and Y Using Probe
    M117 Homing X and Y with Probe!
    G1 X{x_position_nozzle_homing} Y{y_position_nozzle_homing} F1200
    G1 Z{z_position_nozzle_homing} F500
    G28 X
    SET_KINEMATIC_POSITION X{x_endstop_position}
    G1 X{x_position_nozzle_homing}
    G28 Y
    SET_KINEMATIC_POSITION Y{y_endstop_position}
    G1 Y{y_position_nozzle_homing} F500
    
    # Retract Z
    G91
    G1 Z+{retract_after_homing_z} F1200
    G90
    
    M117 Homing Complete!
