[gcode_macro Homing-Macro]
#Variables Sensorless Homing:
variable_SGTHRS_VALUE: 100
variable_Current_Sensorless: 0.8
variable_Retract_after_Homing: 10
###################################################
#Variables Z Homing:
variable_X_Position_Z_Homing: 0
variable_Y_Position_Z_Homing: 0
variable_Retract_after_Homing_Z: 5
###################################################
#Variables Nozzle Homing X and Y
variable_X_Position_Nozzle_Homing: 3
variable_Y_Position_Nozzle_Homing: 0
variable_Z_Position_Nozzle_Homing: 0
variable_X_Endstop_Position: -50 #Probe endstop Position Relative to Sensorless Homing Pos
variable_Y_Endstop_Position: -50 #Probe endstop Position Relative to Sensorless Homing Pos
###################################################
gcode:
    #################################################################################################
    M117 Sensorless Homing X and Y!
    #Home X Sensorless:
    SET_TMC_FIELD STEPPER=stepper_x FIELD=SGTHRS VALUE={SGTHRS_VALUE}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={Current_Sensorless}
    G28 X  
    #Retract X:
    G91
    G1 X-{Retract_after_Homing} F1200
    G90
    #Home Y Sensorless:
    SET_TMC_FIELD STEPPER=stepper_y FIELD=SGTHRS VALUE={SGTHRS_VALUE}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={Current_Sensorless}
    G28 Y  
    #Retract Y:
    G91
    G1 Y-{Retract_after_Homing} F1200
    G90
    #Reset Stepper Current:
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2208 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2208 stepper_y'].run_current|float %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    #################################################################################################
    M117 Homing Z!
    #Home Z using Probe
    G0 X{variable_X_Position_Z_Homing} Y{variable_Y_Position_Z_Homing}
    G28 Z
    #Retract Z:
    G91
    G1 Z+{Retract_after_Homing_Z} F1200
    G90
    #################################################################################################
    M117 Homing X and Y!
    #Home X and Y Using Probe
    G1 X{X_Position_Nozzle_Homing}Y{Y_Position_Nozzle_Homing} F1200
    G1 Z{Z_Position_Nozzle_Homing} F500
    G28 X
    SET_KINEMATIC_POSITION X{X_Endstop_Position}
    G1 X{X_Position_Nozzle_Homing}
    G28 Y
    SET_KINEMATIC_POSITION Y{Y_Endstop_Position}
    G1 Y{Y_Position_Nozzle_Homing} F500
    #Retract Z:
    G91
    G1 Z+{Retract_after_Homing_Z} F1200
    G90
    
    
    



    

