[gcode_macro Homing-Macro]
#Variables Sensorless Homing:
variable_X_Endstop_Position_Sensorless: 200
variable_Y_Endstop_Position_Sensorless: 200
variable_SGTHRS_VALUE: 100
variable_Current_Sensorless: 0.8
variable_Retract_after_Homing: 10
###################################################
#Variables Z Homing:
variable_X_Position_Z_Homing: 0
variable_Y_Position_Z_Homing: 0
variable_Z_Endstop: 20
###################################################
#Variables Nozzle Homing X and Y
variable_X_Position_Nozzle_Homing: 3
variable_Y_Position_Nozzle_Homing: 0
variable_Z_Position_Nozzle_Homing: 0
variable_X_Endstop_Position: 1
variable_Y_Endstop_Position: 1
###################################################
gcode:
    #################################################################################################
    M117 Sensorless Homing X and Y!
    #Home X Sensorless:
    SET_TMC_FIELD STEPPER=stepper_x FIELD=SGTHRS VALUE={SGTHRS_VALUE}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={Current_Sensorless}
    G28 X  
    #Retract X:
    G91
    G1 X-{Retract_after_Homing} F1200
    #Home Y Sensorless:
    SET_TMC_FIELD STEPPER=stepper_y FIELD=SGTHRS VALUE={SGTHRS_VALUE}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={Current_Sensorless}
    G28 Y  
    #Retract Y:
    G91
    G1 Y-{Retract_after_Homing} F1200
    #Reset Stepper Current:
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2208 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2208 stepper_y'].run_current|float %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    #################################################################################################
    M117 Homing Z!



    
    SET_TMC_FIELD STEPPER=stepper_y FIELD=SGTHRS VALUE={SGTHRS_VALUE}
    G28 x y ; Home all axes
